@tailwind base;
@tailwind components;
@tailwind utilities;

.login-img-wrapper {
  background: url(./assets/images/login.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
